<div class="gabi-toulouse">
  <div class="header">
    <a routerLink="/search"><img src="../../assets/imgs/search.svg"></a>
    <h1>Quel Gabi choisir ?</h1>
  </div>

  <div id="scroll" class="userlist container">
    <div id="scroll2" class="row">
      <div class="user box item col-sm-3" *ngFor="let user of usersCityToulouse">
        <div [routerLink]="['/user', user.uid]">
          <img src="{{ user.photoUrl }}">
          <p>{{ user.nickName }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-down desktop">
    <samp class="left">faire</samp>
    <samp class="mouse"></samp>
    <samp class="right">défiler</samp>
  </div>

  <div class="contact">
    <div class="contact-links">
      <a>L'équipe</a>
      <a>Presse</a>
      <a href="mailto:contact@gabi.com">contact@gabi.com</a>
    </div>

    <div class="socials">
      <a href="https://www.facebook.com/GabiColoc/" target="_blank"><img src="../../assets/imgs/nav-icons/facebook-letter-logo.svg"></a>
      <a href="https://www.instagram.com/GABI_fr_/"><img src="../../assets/imgs/nav-icons/twitter-logo-silhouette.svg"></a>
      <a href="https://twitter.com/gabi_fr_"><img src="../../assets/imgs/nav-icons/instagram-logo.svg"></a>
    </div>
  </div>

  <div class="footer">
    <a routerLink="/">Plan du site</a>
    <a routerLink="/mentions-legales">Mentions légales</a>
  </div>
</div>
