.gabi-toulouse {
  position: relative;
  overflow: hidden;
  height: 100vh;

  .desktop {
    display: none;
  }

  .header {
    position: relative;
    text-align: right;
    color: #ffffff;

    a {
      position: absolute;
      right: 15px;
      top: -5px;
      z-index: 1;
      cursor: pointer;

      img {
        width: 25px;
      }
    }

    h1 {
      font-family: 'Nunito', sans-serif;
      position: relative;
      top: 20px;
      font-size: 24px;
      text-align: center;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 205px;
      position: absolute;
      z-index: 0;
      top: -70px;
      left: 0;
      background: linear-gradient(to right, rgb(229, 0, 116) 0%, #a70054 62%, #9f0737 93%, #960539 100%);
      transform: skewY(-15deg);
    }
  }

  .userlist {
    position: relative;
    padding: 20px 34px;
    top: 50px;
    width: auto;
    overflow-x: scroll;

    .row {
      width: 500%;
      max-width: 5000px;
    }

    .user {
      width: 10%;
      margin: 0 auto;
      text-align: center;
      float: left;

      a {
        color: #333333;
        font-size: 16px;
        text-decoration: none;
      }

      img {
        width: 89px;
        height: 89px;
        border-radius: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .contact, .footer {
    display: none;
  }
}

//Desktop
@media (min-width: 481px) {
  .gabi-toulouse {
    padding-top: 90px;

    .desktop {
      display: block;
    }

    .header {
      width: 91.2%;
      top: -20px;

      &:before {
        display: none;
      }

      &:after {
        content: "";
        display : inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height : 0;
        width : 0;
        border-top: 174px solid #e50074;
        border-right: 91vw solid transparent;
      }

      h1 {
        z-index: 1;
        text-align: left;
        top: 27px;
        left: 41px;
        font-size: 34px;
      }

      a {
        display: none;
      }
    }

    #scroll > .box {
      width:50vw;
      height:100vh;
      display:inline-block;
      position:relative;
    }

    #scroll {
      overflow-y:scroll;
      overflow-x:hidden;
      transform: rotate(270deg) translateX(-100%);
      transform-origin: top left;
      position:absolute;
      width:100vh;
      height: 70vw;
      left: 12%;
    }
    #scroll2 {
      transform: rotate(90deg) translateY(-75vh);
      transform-origin: top left;
      white-space:nowrap;
    }

    .userlist {
      top: 0;
      width: 760px;
      height: 450px;

      .user {
        width: 9%;
        margin: 10px auto;
      }
    }

    //Scroll down
    .scroll-down {
      position: absolute;
      top: unset;
      bottom: 15%;
      width: 80%;
      max-width: 270px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      z-index: 100;
    }

    .mouse {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      min-width: 16px;
      height: 22px;
      position: relative;
      border: 2px solid #e50074;
      border-radius: 12px;

      &:before {
        content: '';
        display: inline-block;
        width: 2px;
        height: 6px;
        position: absolute;
        top: 5px;
        left: 5px;
        background-color: #e50074;
        animation: mouse-animation 2.75s ease-in-out infinite;
      }
    }

    @keyframes mouse-animation {
      0% {
        transform: scale(1,0);
        transform-origin: 50% 0;
      }
      20%, 80% {
        transform: scale(1,1);
      }
      81% {
        transform-origin: 50% 100%;
      }
      100% {
        transform: scale(1,0);
        transform-origin: 50% 100%;
      }
    }

    .left,
    .right {
      display: inline-block;
      vertical-align: middle;
      padding: 0 18px;
      font-size: 13px;
      font-weight: bold;
      color: #e50074;
      text-transform: uppercase;
    }

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      position: fixed;
      bottom: 40px;
      background: #ffffff;
      color: #331832;
      border-top: 5px solid #331832;

      .contact-links {
        width: 58%;
        min-width: 502px;
        max-width: 742px;
        text-align: right;

        a {
          cursor: pointer;
          color: #331832;
          font-size: 13px;
          margin: 0 42px;
        }
      }

      .socials {
        display: flex;
        justify-content: flex-end;
        width: 20%;

        img {
          width: 18px;
          margin: 0 19px;
        }

        &:last-child {
          a {
            img {
              margin-right: 0;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 40px;
      background-color: #331832;
      color: #ffffff;

      a {
        color: #ffffff;
        font-size: 10px;
        font-weight: 300;
        margin: 0 10px;
      }
    }
  }
}
