.my-gabis {
  .header {
    position: relative;
    text-align: right;
    color: #ffffff;

    .btn-link {
      position: absolute;
      left: 0;
      top: 5px;
      color: #ffffff;
      letter-spacing: 1.7px;
    }

    a {
      position: absolute;
      right: 15px;
      top: 10px;
      z-index: 1;
      cursor: pointer;

      img {
        width: 25px;
      }
    }

    h1 {
      font-family: 'Nunito', sans-serif;
      position: relative;
      top: 35px;
      font-size: 24px;
      text-align: center;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 205px;
      position: absolute;
      z-index: 0;
      top: -70px;
      left: 0;
      background: linear-gradient(to right, rgb(229, 0, 116) 0%, #a70054 62%, #9f0737 93%, #960539 100%);
      transform: skewY(-15deg);
    }
  }

  .container {
    p {
      position: relative;
      top: 220px;
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 1.5px;
    }
  }

  .contact, .footer {
    display: none;
  }
}

//Desktop
@media (min-width: 481px) {
  .my-gabis {
    padding-top: 90px;

    .header {
      width: 91.2%;
      top: -20px;

      &:before {
        display: none;
      }

      &:after {
        content: "";
        display : inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height : 0;
        width : 0;
        border-top: 145px solid #e50074;
        border-right: 91vw solid transparent;
      }

      h1 {
        z-index: 1;
        text-align: left;
        margin-left: 20px;
      }

      a {
        display: none;
      }
    }
  }
}
