.gabi-paris {
  position: relative;
  overflow: hidden;
  height: 100vh;

  .header {
    position: relative;
    text-align: right;
    color: #ffffff;

    a {
      position: absolute;
      right: 15px;
      top: -5px;
      z-index: 1;
      cursor: pointer;

      img {
        width: 25px;
      }
    }

    h1 {
      font-family: 'Nunito', sans-serif;
      position: relative;
      top: 20px;
      font-size: 24px;
      text-align: center;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 205px;
      position: absolute;
      z-index: 0;
      top: -70px;
      left: 0;
      background: linear-gradient(to right, rgb(229, 0, 116) 0%, #a70054 62%, #9f0737 93%, #960539 100%);
      transform: skewY(-15deg);
    }
  }

  .userlist {
    position: relative;
    padding: 20px 34px;
    top: 50px;
    width: auto;
    overflow-x: scroll;

    .row {
      width: 500%;
      max-width: 5000px;
    }

    .user {
      width: 10%;
      margin: 0 auto;
      text-align: center;
      float: left;

      a {
        color: #333333;
        font-size: 16px;
        text-decoration: none;
      }

      img {
        width: 89px;
        height: 89px;
        border-radius: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .contact, .footer {
    display: none;
  }
}

//Desktop
@media (min-width: 481px) {
  .gabi-paris {
    padding-top: 90px;

    .header {
      width: 91.2%;
      top: -20px;

      &:before {
        display: none;
      }

      &:after {
        content: "";
        display : inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height : 0;
        width : 0;
        border-top: 174px solid #e50074;
        border-right: 91vw solid transparent;
      }

      h1 {
        z-index: 1;
        text-align: left;
        top: 27px;
        left: 41px;
        font-size: 34px;
      }

      a {
        display: none;
      }
    }

    .userlist {
      top: 0;
      width: 760px;
      height: 450px;

      .user {
        width: 5%;
      }
    }

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      position: fixed;
      bottom: 40px;
      background: #ffffff;
      color: #331832;
      border-top: 5px solid #331832;

      .contact-links {
        width: 58%;
        min-width: 502px;
        max-width: 742px;
        text-align: right;

        a {
          cursor: pointer;
          color: #331832;
          font-size: 13px;
          margin: 0 42px;
        }
      }

      .socials {
        display: flex;
        justify-content: flex-end;
        width: 20%;

        img {
          width: 18px;
          margin: 0 19px;
        }

        &:last-child {
          a {
            img {
              margin-right: 0;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 40px;
      background-color: #331832;
      color: #ffffff;

      a {
        color: #ffffff;
        font-size: 10px;
        font-weight: 300;
        margin: 0 10px;
      }
    }
  }
}
