nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 3px 0px #656565;

  ul {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 0;
    height: 100%;
    justify-content: center;
    background: #ffffff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 3px 0 #656565;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      width: 30%;
      text-align: center;

      i {
        position: relative;
        height: 60px;
        width: auto;
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #999999;

        &:before {
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-size: contain;
        }

        span {
          display: block;
          letter-spacing: 1.2px;
          font-weight: 100;
          font-size: 11px;
          margin-top: 5px;
        }
      }

      .home {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Home.svg");
        }
      }

      .homeSelect {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Home-Selec.svg");
        }

        span {
          color: #cc0033;
        }
      }

      .gabi {
        &:before {
          width: 35px;
          background-image: url("../../assets/imgs/nav-icons/Gabi.svg");
        }
      }

      .gabiSelect {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Gabi-Selec.svg");
        }

        span {
          color: #cc0033;
        }
      }

      .profile {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Profil.svg");
        }
      }

      .profileSelect {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Profil-Selec.svg");
        }

        span {
          color: #cc0033;
        }
      }

      .plus {
        &:before {
          width: 35px;
          background-position: 0 10px;
          background-image: url("../../assets/imgs/nav-icons/Plus.svg");
        }
      }

      .plusSelect {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Plus-Selec.svg");
        }

        span {
          color: #cc0033;
        }
      }
    }
  }

  .modal-plus {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.5);

    .contain {
      position: fixed;
      width: 345px;
      bottom: 9%;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 0 20px;
      background: #ffffff;
      border-radius: 10px 10px 0 0;

      div {
        p {
          height: 50px;
          color: #4a4a4a;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1px;
          border-bottom: 1px solid #4a4a4a;
        }
      }

      .logout {
        p {
          border-bottom: none;
        }
      }
    }
  }
}
