nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #ffffff;

  ul {
    display: flex;
    padding: 0;
    height: 100%;
    justify-content: center;

    li {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      width: 30%;
      text-align: center;

      i {
        position: relative;
        height: 60px;
        width: auto;
        color: #cc0033;
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:before {
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-size: contain;
        }

        span {
          display: block;
        }
      }

      .home {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Home.svg");
        }
      }

      .homeSelect {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Home-Selec.svg");
        }
      }

      .gabi {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Gabi.svg");
        }
      }

      .gabiSelect {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Gabi-Selec.svg");
        }
      }

      .profile {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Profil.svg");
        }
      }

      .profileSelect {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Profil-Selec.svg");
        }
      }

      .plus {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Plus.svg");
        }
      }

      .plusSelect {
        &:before {
          background-image: url("../../assets/imgs/nav-icons/Plus-Selec.svg");
        }
      }
    }
  }
}
