<nav>
  <ul>
    <li>
      <i (click)="homeSelected()" [ngClass]="{'homeSelect': homeActive}" class="home"><span>Accueil</span></i>
    </li>
    <li>
      <i (click)="gabiSelected()" [ngClass]="{'gabiSelect': gabiActive}" class="gabi"><span>Mes gabis</span></i>
    </li>
    <li>
      <i (click)="profileSelected()" [ngClass]="{'profileSelect': profileActive}" class="profile"><span>Mon profil</span></i>
    </li>
    <li>
      <i (click)="plusSelected()" [ngClass]="{'plusSelect': plusActive}" class="plus"><span>Plus</span></i>
    </li>
  </ul>
</nav>
