<nav class="mobile">
  <ul>
    <li>
      <i (click)="homeSelected()" [ngClass]="{'homeSelect': homeActive}" class="home"><span>Accueil</span></i>
    </li>
    <li>
      <i (click)="gabiSelected()" [ngClass]="{'gabiSelect': gabiActive}" class="gabi"><span>Mes gabis</span></i>
    </li>
    <li>
      <i (click)="profileSelected()" [ngClass]="{'profileSelect': profileActive}" class="profile"><span>Mon profil</span></i>
    </li>
    <li>
      <i (click)="plusSelected()" [ngClass]="{'plusSelect': plusActive}" class="plus"><span>Plus</span></i>
    </li>
  </ul>

  <div *ngIf="modal" class="modal-plus">
    <div class="contain">
      <div class="notifications">
        <img src="../../assets/imgs/nav-icons/Notification%20&%20Push.svg">
        <p>Notifications & Push</p>
      </div>
      <div class="params">
        <img src="../../assets/imgs/nav-icons/parametre.svg">
        <p>Paramètres</p>
      </div>
      <div class="confidential">
        <img src="../../assets/imgs/nav-icons/confidentialite.svg">
        <p>Confidentialité</p>
      </div>
      <div class="help">
        <img src="../../assets/imgs/nav-icons/Aide.svg">
        <p>Aide</p>
      </div>
      <div class="logout">
        <a (click)="logout()">
          <img src=" ../../assets/imgs/nav-icons/se%20deconnecter.svg">
          <p>Se déconnecter</p>
        </a>
      </div>
    </div>
  </div>
</nav>

<nav class="desktop">
  <div class="left-nav">
    <a routerLink="/"><img class="logo" src="../../assets/imgs/Logo.svg"></a>
    <ul>
      <li>
        <i (click)="homeSelected()" [ngClass]="{'homeSelect': homeActive}"><span>Accueil</span></i>
      </li>
      <li>
        <i (click)="gabiSelected()" [ngClass]="{'gabiSelect': gabiActive}"><span>Mes gabis</span></i>
      </li>
      <li>
        <i (click)="profileSelected()" [ngClass]="{'profileSelect': profileActive}"><span>Mon profil</span></i>
      </li>
      <li>
        <i (click)="plusSelected()" [ngClass]="{'plusSelect': plusActive}"><span>Plus</span></i>
      </li>
    </ul>
  </div>
  <div class="right-nav">
    <a routerLink="/search"><img class="search-bar" src="../../assets/imgs/nav-icons/magnifying-glass-pink.svg"></a>
  </div>
</nav>
