<div class="user-infos">
  <a (click)="updateUserDetails()" class="edit"><img src="../../assets/imgs/nav-icons/edit.svg"></a>
  <div class="header">
    <h1>Mon profil</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="top-infos">
          <img src="{{ currentUser?.photoUrl }}">
          <p>{{ currentUser?.nickName }}</p>
        </div>
        <div class="other-infos">
          <p>Adresse email : <span>{{ currentUser?.email }}</span></p>
          <p>Cherche Gabi à <span>{{ currentUser?.city }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
