<div class="search">
  <div class="header">
    <a routerLink="/"><img src="../../assets/imgs/Logo-gabi-white.svg"></a>
    <p>Les bons colocs font<br> les bons amis ! </p>
  </div>

  <div class="contain">
    <h1>Où cherchez-vous<br> votre Gabi ?</h1>
    <div class="search-content">
      <select (change)="getUserByCity($event.target.value)">
        <option>Choisissez une ville</option>
        <option value="1">Paris</option>
        <option value="2">Toulouse</option>
        <option value="3">Nantes</option>
        <option value="4">Montpelier</option>
      </select>
    </div>
  </div>

  <div class="authentification">
    <button routerLink="/register" class="sign-in">S'inscrire</button>
    <button routerLink="/register" class="login">Se connecter</button>
  </div>
</div>
