.search {
  position: relative;
  overflow: hidden;
  padding: 20px 34px;
  height: 100vh;
  background-image: url("../../assets/imgs/Gabi-mobile-bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 0;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
  }

  .header {
    text-align: center;
    position: relative;
    z-index: 1;
    color: #ffffff;

    a {
      cursor: pointer;
    }

    img {
      width: 55px;
    }

    p {
      margin: 10px auto;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 1.5px;
    }
  }

  .contain {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 79px;
    z-index: 1;
    color: #ffffff;

    h1 {
      width: 276px;
      font-size: 32px;
      text-align: center;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      margin: 0 auto;
      line-height: 1.2;
      letter-spacing: 1.1px;
    }

    .search-content {
      display: flex;
      flex-direction: column;
      height: auto;
      position: relative;
      width: 90%;
      margin: 20px auto;

      &:after {
        content: "";
        display: block;
        height: 0;
        width: 0;
        border-bottom: 10px solid #331832;
        border-left: 10px solid transparent;
        position: absolute;
        top: 15px;
        right: 20px;
        transform: rotate(45deg);
      }

      select {
        background: #fff;
        border: none;
        height: 50px;
        color: #000;
        padding: 0 0 0 20px;
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
  }

  .authentification {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;

    button {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      background: #ffffff;
      color: #331832;
      border: none;
      width: 50%;
      height: 60px;
      cursor: pointer;
      outline: none;
    }

    .sign-in {
      border-radius: 10px 0 0 0;
    }

    .login {
      border-radius: 0 10px 0 0;
    }
  }
}

//Desktop
@media (min-width: 481px) {
  .search {
    display: flex;
    align-items: center;

    .header {
      display: flex;
      width: 100%;
      position: fixed;
      top: 30px;
      left: 26px;

      p {
        display: flex;
        align-items: center;
        font-size: 10px;
        margin-left: 17px;
        margin-top: 22px;
        text-align: left;
      }

      img {
        width: 50px;
      }
    }

    .contain {
      width: 100%;
      top: -12px;

      h1 {
        width: 100%;
        font-size: 32px;
      }

      .search-content {
        position: relative;
        top: 46px;
        width: 65%;
        margin: 0 auto;

        &:after {
          content: "";
          display: block;
          height: 0;
          width: 0;
          border-bottom: 10px solid #331832;
          border-left: 10px solid transparent;
          position: absolute;
          top: 15px;
          right: 20px;
          transform: rotate(45deg);
        }

        select {
          position: relative;
          width: 100%;
          margin: 0 auto;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }

    .authentification {
      left: unset;
      right: 85px;
      width: 19.5%;
      height: 40px;
      top: 50px;

      button {
        font-size: 13px;
        height: 40px;
      }

      .sign-in {
        border-radius: 10px 0 0 10px;
        border-right: 1px solid #ebebeb;
      }

      .login {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
