<div class="home">
  <div class="header">
    <a routerLink="/"><img src="../../assets/imgs/Logo-gabi-white.svg"></a>
    <p>Les bons colocs font<br> les bons amis ! </p>
  </div>

  <div class="contain">
    <h1>Avec Gabi, trouve<br> ton coloc parfait</h1>
    <div class="buttons">
      <button class="search-gabi" routerLink="/search" >Je cherche un Gabi</button>
      <button (click)="notAvailable()" class="owner">Je suis propriétaire</button>
      <p *ngIf="availableText">Option disponible bientôt !</p>
    </div>
  </div>
</div>
