<div class="home">
  <div class="header">
    <img src="../../assets/imgs/Logo_rouge_sansnom.png">
  </div>

  <div class="contain">
    <button routerLink="/search" >Je cherche un Gabi</button>
    <button>Je suis propriétaire</button>
  </div>

  <div class="socials">
    <a href="https://www.facebook.com/GabiColoc/" target="_blank"><i class="facebook"></i></a>
    <a href="https://www.instagram.com/GABI_fr_/" target="_blank"><i class="instagram"></i></a>
    <a href="https://twitter.com/gabi_fr_" target="_blank"><i class="twitter"></i></a>
  </div>
</div>
