.home {
  position: relative;
  overflow: hidden;
  padding: 20px 34px;
  height: 100vh;
  background-image: url("../../assets/imgs/Gabi-mobile-bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 0;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
  }

  .header {
    text-align: center;
    position: relative;
    z-index: 1;
    color: #ffffff;

    a {
      cursor: pointer;
    }

    img {
      width: 55px;
    }

    p {
      margin: 10px auto;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 1.5px;
    }
  }

  .contain {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 79px;
    z-index: 1;
    color: #ffffff;

    h1 {
      font-size: 32px;
      text-align: center;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      margin: 0 auto;
      line-height: 1.2;
      letter-spacing: 1.1px;
    }

    .buttons {
      text-align: center;
      position: relative;
      top: 26px;

      button {
        font-family: 'Nunito', sans-serif;
        width: 244px;
        height: 44px;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 30px;
        outline: none;
      }

      .search-gabi {
        background: #ffffff;
        color: #331832;
        border: none;
      }

      .owner {
        position: relative;
        top: 20px;
        background: transparent;
        color: #ffffff;
        border: 2px solid #ffffff;
      }

      p {
        position: relative;
        top: 50px;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 1.5px;
      }
    }
  }

  .socials {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 40px 0;

    a {
      position: relative;
      cursor: pointer;
      transition: 0.4s;

      i {
        display: block;
        position: relative;
        width: 52px;
        height: 52px;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 15px;

        &:before {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #000;
          background-color: transparent;
          border-radius: 100%;
        }
      }

      .facebook {
        background-image: url("../../assets/imgs/facebook-black.png");
      }

      .instagram {
        background-image: url("../../assets/imgs/instagram-black.png");
      }

      .twitter {
        background-image: url("../../assets/imgs/twitter-black.png");
      }

      &:hover {
        .facebook {
          background-image: url("../../assets/imgs/facebook.png");
          background-color: #3b5998;
          border-radius: 50%;
          background-size: 90%;

          &:before {
            border: none;
          }
        }

        .instagram {
          background-image: url("../../assets/imgs/instagram.png");
        }

        .twitter {
          background-image: url("../../assets/imgs/twitter-blue.png");
        }
      }
    }

    img {
      position: relative;
      width: 25px;
    }
  }
}
