<div class="register">
  <div class="header">
    <a routerLink="/"><img src="../../assets/imgs/Logo-gabi-white.svg"></a>
    <p class="desktop">Les bons colocs font<br> les bons amis ! </p>
  </div>

  <div class="contain">
    <ul class="register-nav">
      <li><a [ngClass]="{'active': !isActive}" (click)="showRegisterComponent()">Inscription</a></li>
      <li><a [ngClass]="{'active': isActive}" (click)="showLoginComponent()">Connexion</a></li>
    </ul>

    <!--Register-->
    <div *ngIf="showRegister" class="register-links">
      <button type="button" class="btn btn-facebook btn-block" (click)="tryFacebookLogin()"><img src="../../assets/imgs/facebook-logo.png"><span>S'inscrire avec Facebook</span></button>
      <button type="button" class="btn btn-google btn-block" (click)="tryGoogleLogin()"><img src="../../assets/imgs/google-plus.svg"><span>S'inscrire avec Google</span></button>
      <button type="button" class="btn btn-email btn-block" (click)="loadRegisterComponent()"><span>Inscription avec email</span></button>
    </div>

    <div *ngIf="loadRegister" class="container">
      <a (click)="goingBack()" class="back-arrow"><img src="../../assets/imgs/left-arrow.svg"></a>
      <form [formGroup]="registerForm" (ngSubmit)="tryRegister()">
        <div class="form-group">
          <input placeholder="Votre email" type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="Mot de passe" type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-valid">Valider</button>
        </div>
      </form>
    </div>

    <!--Login-->
    <div *ngIf="showLogin" class="register-links">
      <button type="button" class="btn btn-facebook btn-block" (click)="tryFacebookLogin()"><img src="../../assets/imgs/facebook-logo.png"><span>Se connecter avec Facebook</span></button>
      <button type="button" class="btn btn-google btn-block" (click)="tryGoogleLogin()"><img src="../../assets/imgs/google-plus.svg"><span>Se connecter avec Google</span></button>
      <button type="button" class="btn btn-email btn-block" (click)="loadLoginComponent()"><span>Connexion avec email</span></button>
    </div>

    <div *ngIf="loadLogin" class="container">
      <a (click)="goingBack()" class="back-arrow"><img src="../../assets/imgs/left-arrow.svg"></a>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <input placeholder="Votre email" type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="Mot de passe" type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <div class="form-group">
          <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-valid">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
